/*Insert CSS Here*/

body {
	font-family: Lato;
}

.heading {
	padding: 50px;
	margin: 200px 0px;
	text-align: center;
	color: white;
	background: rgba(0,0,0,0.4);
}

.row {
	text-align: center;
}

.jumbotron {
	background-image: url("https://images.unsplash.com/photo-1502945015378-0e284ca1a5be?auto=format&fit=crop&w=1650&q=80");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

h1 {
	font-weight: 700;
	font-size: 5em;
}

.projectPhoto {
	height: 350px;
	width: 350px;
	/*margin-bottom: 10px;*/
}

#aboutme, #projects, #contact {
	text-align: center;
	font-weight: bold;
}

.mePic {
	/*margin: 10px auto;*/
	width: 350px;
	margin-right: 25px;	
}

.profilepic {
	width: 350px;
	
}

.aboutMe {
	display: flex;
}

.bioContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.bio {
	flex: 1;
	font-size: 1.25em;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: #224989;
}

.thumbnail {
	text-align: center;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 1.5em;
}

.verticallyCenterChildren {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}


#email {
	text-align: center;
}

.socialContainer {
	display: flex;
	justify-content: center;
}

.socialButtons {
	color: white;
	background-color: #3b78db;
	border-radius: 50%;
	height: 75px;
	width: 75px;
	text-align: center;
	font-size: 1.75em;
	vertical-align: center;
	margin: 10px;
}

.socialButtons:hover {
	background-color: #224989;
}

footer {
	text-align: center;
	font-size: 0.75em;
}